body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #9c9897;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 0px;
  font-size: 1.5em;
}

.job-listing {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px auto;
  flex-grow: 1;
}

.job-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  text-align: center;
}

.apply-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.form-container input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  background: #000000;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}